//Container:
.container {
  min-height: 100vh;
  padding: 6rem 2rem 8rem;
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  @include set-background-color(#fff);
}

//Text format:
.text-xl {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.text-l {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.text-primary {
  color: $primary-color;
}

.img-round {
  border-radius: 50%;
}

.line {
  margin: 0.5rem 0 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
}

//Backgrounds:
.bg {
  background-color: $light-color;
  border: 1px solid #ccc;

  &-dark {
    @include set-background-color($dark-color);
    border-bottom: solid 1px $primary-color;
  }

  &-primary {
    @include set-background-color($primary-color);
  }

  &-white {
    @include set-background-color(#fff);
    border: 1px solid #ccc;
  }
}

//Buttons:
.btn {
  padding: 0.6rem 1.25rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  @include set-background-color($light-color);
  @include transition-ease;

  &.btn-primary {
    @include set-background-color($primary-color);

    &:hover {
      background-color: lighten($primary-color, 15);
    }
  }

  &.btn-danger {
    @include set-background-color($danger-color);

    &:hover {
      background-color: lighten($danger-color, 15);
    }
  }

  &.btn-dark {
    @include set-background-color($dark-color);

    &:hover {
      background-color: lighten($dark-color, 15);
    }
  }

  &:hover {
    @include set-background-color($dark-color);
  }
}

//Dark-overlay:
.dark-overlay {
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

//Alerts:
.alert {
  width: 100%;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  opacity: 0.9;
  @include set-background-color($light-color);

  &.alert-danger {
    @include set-background-color($danger-color);
  }

  &.alert-primary {
    @include set-background-color($primary-color);
  }
}

//Badges:
.badge {
  @include set-background-color(#343a40);
  padding: 0.25rem 1rem;
  margin: 0 0.25rem 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  width: 100%;

  &-primary {
    @include set-background-color($primary-color);
  }

  &-light {
    @include set-background-color($light-color);
  }
}

//Table:
.table {
  max-width: 650px;

  td {
    padding: 1rem;
  }

  &-header {
    @include set-background-color($light-color);

    td {
      font-weight: 700;
    }
  }
}
